[data-theme="emerald"] #disqus_thread {
  color-scheme: none;
  background-color: #ffffff;
  color: #1eb854;
}
 
[data-theme="forest"] #disqus_thread {
  color-scheme: none;
  background-color: #171212;
  color: #1eb854;
}