[data-theme="emerald"] #disqus_thread {
  color-scheme: none;
  background-color: #fff;
  color: #3b82f680;
}
 
[data-theme="forest"] #disqus_thread {
  color-scheme: none;
  background-color: #171212;
  color: #3b82f680;
}